In [41]:
import pandas as pd
import numpy as np

In [9]:
gr_data = pd.read_csv('./1. Original_df/GoodReads.Best_Books_Ever 2.csv')

pd.set_option('display.max_columns', 30)
display(gr_data.head(3), gr_data.shape)

,title,series,author,rating,description,language,isbn,genres,characters,bookFormat,...,publishDate,firstPublishDate,awards,numRatings,ratingsByStars,likedPercent,setting,bbeScore,bbeVotes,price
0,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,9.78044E+12,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...","['Katniss Everdeen', 'Peeta Mellark', 'Cato (H...",Hardcover,...,09/14/08,NaN,['Locus Award Nominee for Best Young Adult Boo...,6376780,"['3444695', '1921313', '745221', '171994', '93...",96.0,"['District 12, Panem', 'Capitol, Panem', 'Pane...",2993816,30516,5.09
1,Harry Potter and the Order of the Phoenix,Harry Potter #5,"J.K. Rowling, Mary GrandPré (Illustrator)",4.50,There is a door at the end of a silent corrido...,English,9.78044E+12,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...","['Sirius Black', 'Draco Malfoy', 'Ron Weasley'...",Paperback,...,09/28/04,06/21/03,['Bram Stoker Award for Works for Young Reader...,2507623,"['1593642', '637516', '222366', '39573', '14526']",98.0,['Hogwarts School of Witchcraft and Wizardry (...,2632233,26923,7.38
2,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,1E+13,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",Paperback,...,05/23/06,07-11-1960,"['Pulitzer Prize for Fiction (1961)', 'Audie A...",4501075,"['2363896', '1333153', '573280', '149952', '80...",95.0,"['Maycomb, Alabama (United States)']",2269402,23328,NaN

(52478, 23)

#### Standard Column Names

In [12]:
# Names in lower case
cols = []
for c in gr_data.columns:
    cols.append(c.lower())

gr_data.columns = cols
gr_data.columns

Index(['title', 'series', 'author', 'rating', 'description', 'language',
       'isbn', 'genres', 'characters', 'bookformat', 'edition', 'pages',
       'publisher', 'publishdate', 'firstpublishdate', 'awards', 'numratings',
       'ratingsbystars', 'likedpercent', 'setting', 'bbescore', 'bbevotes',
       'price'],
      dtype='object')

In [37]:
# Renaming columns
gr_data = gr_data.rename(columns={'bookformat':'book_format',
                                 'publishdate':'publish_date',
                                 'firstpublishdate':'first_publish_date',
                                 'numratings':'num_ratings',
                                 'ratingsbystars':'rating_by_stars',
                                 'likedpercent': 'liked_perc',
                                 'bbescore':'bbe_score',
                                 'bbevotes':'bbe_votes'})

gr_data.columns

Index(['title', 'series', 'author', 'rating', 'description', 'language',
       'isbn', 'genres', 'characters', 'book_format', 'edition', 'pages',
       'publisher', 'publish_date', 'first_publish_date', 'awards',
       'num_ratings', 'rating_by_stars', 'liked_perc', 'setting', 'bbe_score',
       'bbe_votes', 'price'],
      dtype='object')

In [38]:
pd.set_option('display.max_columns', 30)
gr_data.head(1)

,title,series,author,rating,description,language,isbn,genres,characters,book_format,edition,pages,publisher,publish_date,first_publish_date,awards,num_ratings,rating_by_stars,liked_perc,setting,bbe_score,bbe_votes,price
0,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,9.78044E+12,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...","['Katniss Everdeen', 'Peeta Mellark', 'Cato (H...",Hardcover,First Edition,374,Scholastic Press,09/14/08,NaN,['Locus Award Nominee for Best Young Adult Boo...,6376780,"['3444695', '1921313', '745221', '171994', '93...",96.0,"['District 12, Panem', 'Capitol, Panem', 'Pane...",2993816,30516,5.09

In [39]:
gr_data.dtypes

title                  object
series                 object
author                 object
rating                float64
description            object
language               object
isbn                   object
genres                 object
characters             object
book_format            object
edition                object
pages                  object
publisher              object
publish_date           object
first_publish_date     object
awards                 object
num_ratings             int64
rating_by_stars        object
liked_perc            float64
setting                object
bbe_score               int64
bbe_votes               int64
price                  object
dtype: object

In [44]:
#publish_date first_publish_date #
# Converting object columns to numerical
gr_data['pages'] = pd.to_numeric(gr_data['pages'], errors = 'coerce')
gr_data['price'] = pd.to_numeric(gr_data['price'], errors = 'coerce')

# Converting object columns to datetime
#gr_data['publish_date'] = pd.to_datetime(gr_data['publish_date'])
#gr_data['first_publish_date'] = pd.to_datetime(gr_data['first_publish_date'])

In [46]:
# Number of ratings by stars (from 5 to 1 star)
gr_data['rating_by_stars']

0        ['3444695', '1921313', '745221', '171994', '93...
1        ['1593642', '637516', '222366', '39573', '14526']
2        ['2363896', '1333153', '573280', '149952', '80...
3        ['1617567', '816659', '373311', '113934', '767...
4        ['1751460', '1113682', '1008686', '542017', '5...
                               ...
52473                    ['311', '310', '197', '42', '11']
52474                          ['16', '14', '5', '2', '0']
52475               ['2109', '1868', '1660', '647', '390']
52476                        ['77', '78', '59', '19', '5']
52477                       ['106', '73', '42', '17', '8']
Name: rating_by_stars, Length: 52428, dtype: object

In [58]:
#gr_data['rating_by_stars'][0]
values = gr_data['rating_by_stars'].explode().tolist()
values[0]

"['3444695', '1921313', '745221', '171994', '93557']"

In [ ]:
for rat in gr_data['rating_by_stars']:
    
    num_star = 5
    while num_star >= 1:
        gr_data[num_star + 'stars'] = gr_data['ratinf']