In [1]:
import pandas as pd

In [2]:
gr_data = pd.read_csv('gr_data_genre_modified.csv')
gr_data = gr_data.drop(['Unnamed: 0'],axis=1)
display(gr_data.head(2),gr_data.shape)

,title,series,author,rating,description,language,isbn,genres,characters,bookFormat,...,publishDate,firstPublishDate,awards,numRatings,ratingsByStars,likedPercent,setting,bbeScore,bbeVotes,price
0,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,9.78044E+12,"['Fantasy', 'Science Fiction', 'Dystopia', 'Yo...","['Katniss Everdeen', 'Peeta Mellark', 'Cato (H...",Hardcover,...,09/14/08,NaN,['Locus Award Nominee for Best Young Adult Boo...,6376780,"['3444695', '1921313', '745221', '171994', '93...",96.0,"['District 12, Panem', 'Capitol, Panem', 'Pane...",2993816,30516,5.09
1,Harry Potter and the Order of the Phoenix,Harry Potter #5,"J.K. Rowling, Mary GrandPré (Illustrator)",4.50,There is a door at the end of a silent corrido...,English,9.78044E+12,"['Fantasy', 'Science Fiction', 'Magic', 'Young...","['Sirius Black', 'Draco Malfoy', 'Ron Weasley'...",Paperback,...,09/28/04,06/21/03,['Bram Stoker Award for Works for Young Reader...,2507623,"['1593642', '637516', '222366', '39573', '14526']",98.0,['Hogwarts School of Witchcraft and Wizardry (...,2632233,26923,7.38

(52478, 23)

#### List of unique genres

In [3]:
# Define an empty list to store the genres
genres_list = []

# Loop through all rows of genres
for i in range(len(gr_data)):
    # Get the genres for the current row
    genres_row = gr_data['genres'][i]

    # Remove the square brackets and single quotes
    genres_row = genres_row.replace('[','').replace(']','').replace("'",'')

    # Split the row into individual genres
    genres = genres_row.split(',')

    # Loop through each genre in the row
    for genre in genres:
        # Clean up the genre by removing any extra whitespace and converting to title case
        genre = genre.strip().title()
        # Check if the genre is not empty and not already in the genres_list
        if genre and genre not in genres_list:
            # If it contains non-ASCII characters, skip it
            if any(ord(c) > 127 for c in genre):
                continue
            # If it's not in the genres_list, add it
            else:
                genres_list.append(genre)

# Print the final genres list and its length
print("Length of uniques genres after cleaning: from 980 to",len(genres_list))
print("")
#print(genres_list)

Length of uniques genres after cleaning: from 980 to 617

### New genre dataframe

In [4]:
# New dataframe with columns named with unique genres of genres_list
genres_data = pd.DataFrame(columns=genres_list)
genres_data

Empty DataFrame
Columns: [Fantasy, Science Fiction, Dystopia, Young Adult, Fiction, Action, Adventure, Romance, Magic, Children, Audiobook, School, Classics, Historical Fiction, Novels, Literature, Historical, Historical Romance, Adult, Urban Fantasy, Paranormal, Paranormal Romance, Vampires, Holocaust, World War Ii, War, Politics, Christian Fiction, Christianity, Epic Fantasy, Civil War, Love, Drama, Coming Of Age, Contemporary, Comedy, Humor, Poetry, Picture Books, Short Stories, Gothic, 19Th Century, Mystery, Thriller, Suspense, Crime, Mystery Thriller, Asian Countries, Asia, Lgbt, Horror, European Literature, European Countries, Plays, Esoterica, Philosophy, Self Help, Inspirational, Mental Health, North American Countries, Angels, Chick Lit, Animals, Chapter Books, Magical Realism, Time Travel, Iberoamerican Literature, Fairy Tales, Greek Mythology, Mythology, Dragons, Epic, Monsters, Gastronomy, Food And Nutrition, 20Th Century, Feminism, Unfinished, Music And Musicians, Medieval, Apocalyptic, Detective, Victorian, Mental Illness, Psychology, Family, African American Literature, New York, Religion, Ireland, Nonfiction, History, Memoires And Biographies, Eastern Religions And Faith, Africa, Steampunk, Economics, Contemporary Romance, Womens, Lgtbi And Queer, ...]
Index: []

[0 rows x 617 columns]

From the 'goodreads_genre_REDUCTION' dataset, there were some genres with 0 counts that I couldn't remove in the original dataset. Now, I will proceed to drop those columns.

In [5]:
# Set of genres to delete from the lists
to_delete = ['World War Ii', '19Th Century', 'Lgbt', '20Th Century', 'Bdsm', '18Th Century',
             'Beauty And The Beast', '14Th Century', '15Th Century', '16Th Century', 
             'Sword And Sorcery', 'Dungeons And Dragons', '17Th Century', '21St Century',
             '13Th Century', '12Th Century', 'Sao Tome And Principe', 'Food And Drink',
             'History And Politics', 'Sword And Planet', 'Art And Photography', '2Nd Grade',
             '40K', '1St Grade', 'Nsfw', 'Mills And Boon', 'Gender And Sexuality', 
             '11Th Century', '10Th Century']

In [6]:
# Drop the columns from genres_data
genres_data = genres_data.drop(to_delete, axis=1)

In [7]:
# Looking for rows where genre value is an empty list
empty_genre_rows = gr_data[gr_data['genres'] == '[]']
display(empty_genre_rows.head(3), len(empty_genre_rows))

,title,series,author,rating,description,language,isbn,genres,characters,bookFormat,...,publishDate,firstPublishDate,awards,numRatings,ratingsByStars,likedPercent,setting,bbeScore,bbeVotes,price
1483,Beg For Mercy,Mercy #3,Lucian Bane (Goodreads Author),4.29,"The fight is on in this installment, Mercy is ...",English,1E+13,[],[],Kindle Edition,...,August 18th 2015,08/17/15,[],714,"['439', '130', '87', '27', '31']",92.0,[],3246,33,NaN
1567,سیمای شکسته پدر سالار,NaN,سید مرتضی مصطفوی (Goodreads Author),3.56,"رمان بلند ""سیمای شکسته پدر سالار"" که از تعلیق...",Persian,9.78601E+12,[],[],ebook,...,March 6th 2017,10/28/16,[],700,"['332', '99', '79', '6', '184']",73.0,[],2943,30,NaN
2040,Life Song,NaN,Christine M. Knight (Goodreads Author),4.18,Overview: Mavis was born to be a songbird. Her...,NaN,9.78099E+12,[],[],Paperback,...,October 14th 2013,10-01-2013,[],74,"['44', '11', '11', '4', '4']",89.0,[],1983,20,18.8

4623

In [8]:
# Filling those empty lists with 'Unknown'
gr_data['genres'].loc[empty_genre_rows.index] = ['Unknown'] * len(empty_genre_rows)

/var/folders/w7/7cfd14hn02g0d126w5q47rqw0000gn/T/ipykernel_8515/109600166.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gr_data['genres'].loc[empty_genre_rows.index] = ['Unknown'] * len(empty_genre_rows)

In [9]:
# Checking modification worked
empty_genre_check = gr_data[gr_data['genres'] == '[]']
display(empty_genre_check.head(3), len(empty_genre_check))

Empty DataFrame
Columns: [title, series, author, rating, description, language, isbn, genres, characters, bookFormat, edition, pages, publisher, publishDate, firstPublishDate, awards, numRatings, ratingsByStars, likedPercent, setting, bbeScore, bbeVotes, price]
Index: []

[0 rows x 23 columns]

0

In [10]:
gr_data['genres'][2040]

'Unknown'

In [11]:
# Adding a column for books with 'Unknow' genre
genres_data['Unknown'] = ''

In [12]:
genres_data.columns

Index(['Fantasy', 'Science Fiction', 'Dystopia', 'Young Adult', 'Fiction',
       'Action', 'Adventure', 'Romance', 'Magic', 'Children',
       ...
       'Low Fantasy', 'Christian Contemporary Fiction', 'Battle Of Britain',
       'Aircraft', 'Go', 'Civil War History', 'Racing', 'Led Zeppelin',
       'Spanish History', 'Unknown'],
      dtype='object', length=589)

In [13]:
genres_data.shape

(0, 589)

### Filling genre dataframe

ast is a built-in Python module that provides a way to work with abstract syntax trees (ASTs) in Python code. In this specific case, ast.literal_eval() is used to safely evaluate a string containing a Python literal structure, such as a list or dictionary, and return the corresponding Python object. This is used to convert a string representation of a list of genres into an actual list that can be iterated over in the subsequent code.

In [ ]:
import ast

# Iterate over each value in gr_data['genres']
for i in range(len(gr_data['genres'])):
    genre_list_str = gr_data['genres'][i]
    genre_list = ast.literal_eval(genre_list_str)

    # Add 1 to corresponding columns in new_columns dataframe
    for genre in genre_list:
        if genre in genres_data.columns:
            genres_data.loc[i, genre] = 1
        else:
            genres_data[genre] = 0
            genres_data.loc[i, genre] = 1
    
    # Print the current row number and replace the previous line
    print(f"Processed row {i+1}", end="\r")

In [ ]:
genres_data.shape

In [ ]:
genres_data.head()

In [ ]:
# Saving new dataframe of unique genres to csv
genres_data.to_csv('genres_df_empty.csv')

In [ ]:
genres_df2 = pd.read_csv('genres_df_empty.csv')

In [ ]:
display(genres_df2.head(), genres_df2.shape)

In [ ]:
gr_data['genres'][0]

In [ ]:
gr_data['genres'][1]

In [ ]:
genres_df2

In [ ]:
genres_df2['Unknown']

In [ ]:
print("There's a difference of", len(gr_data)-len(genres_df), "rows between dataframes.")

In [ ]:
genres_data.shape

In [ ]:
# Saving new dataframe of unique genres to csv
genres_data.to_csv('genres_df.csv')

#### Importing new dataframe

In [ ]:
genres_df = pd.read_csv('genres_df.csv')

In [ ]:
display(genres_df.tail(), genres_df.shape)

In [ ]:
display(gr_data.tail(), gr_data.shape)

In [ ]:
print("There's a difference of", len(gr_data)-len(genres_df), "rows between dataframes.")

In [ ]:
# Checking rows not included: description is [] empty

# Get a list of index values from gr_data that are not present in genres_df
diff_rows_index = gr_data[~gr_data.index.isin(genres_df['index_gr_data'])]

# Rows from gr_data that are not present in genres_df
diff_rows_index

In [ ]:
genres_df = genres_df.rename(columns={'Unnamed: 0': 'index_gr_data'})

In [ ]:
genres_df.head()

In [ ]:
# Dealing with the presence of NaN values
genres_df = genres_df.fillna(0)

In [ ]:
genres_df.dtypes

In [ ]:
# Check if there is any column with just '0' values in it.
if not (genres_df != 0).all().all():
    zero_columns = genres_df.columns[genres_df.eq(0).all()]
    print("The following columns only hold 0:", zero_columns)
else:
    print("All columns in genres_df have at least one non-zero value.")

In [ ]:
# Dropping these columns
genres_df = genres_df.drop(zero_columns, axis=1)

In [ ]:
genres_df.shape

In [ ]:
genres_df.dtypes

In [ ]:
genres_df = genres_df.astype(int)
genres_df.dtypes

In [ ]:
genres_df.head()

In [ ]:
gr_data['genres'][0]

In [14]:
import ast

# Iterate over each value in gr_data['genres']
for i in range(len(gr_data['genres'])):
    
    # Retrieve the string value of the genres for the current row
    genre_list_str = gr_data['genres'][i]
    
    # Use ast.literal_eval() to convert the string value to a list of genres
    genre_list = ast.literal_eval(genre_list_str)

    # Check if the list of genres is empty
    if len(genre_list) == 0:
        
        # If the list is empty, set the value of 'Unknown' column to 1
        genres_data['Unknown'] = 1
        
    else:
        
        # If the list is not empty, iterate over each genre in the list
        for genre in genre_list:
            
            # Check if the genre is already a column in genres_data
            if genre in genres_data.columns:
                
                # If the genre is already a column, add 1 to the corresponding row for the current book
                genres_data.loc[i, genre] = 1
                
            else:
                
                # If the genre is not already a column, create a new column for the genre with all values set to 0
                genres_data[genre] = 0
                
                # Then, add 1 to the corresponding row for the current book
                genres_data.loc[i, genre] = 1
    
    # Print the current row number being processed
    print(f"Processed row {i+1}", end="\r")

ValueError: malformed node or string: <ast.Name object at 0x7fd320df9eb0>