In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time
import random

## Fiction Winners

In [2]:
# Send a GET request to the URL
url = 'https://en.wikipedia.org/wiki/Pulitzer_Prize_for_Fiction'
response = requests.get(url)
display(response.status_code)
# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

200

In [3]:
# Parse the HTML content using BeautifulSoup
#soup = BeautifulSoup(response.content, 'html.parser')
#print(soup.prettify())

### Table 1918-1978

In [4]:
#soup.select('#mw-content-text > div.mw-parser-output > table:nth-child(24)')

In [5]:
winners = soup.select("table")[1]
#winners

#### Year and Book Title 1918 to 1979

#mw-content-text > div.mw-parser-output > table:nth-child(24) > tbody > tr:nth-child(1) > td:nth-child(1) > b > a

In [6]:
winners.select('tr td b a')[1]['title']

'His Family'

In [7]:
titles = []
for name in winners.select('tr td b a'):
    book = name.get('title')
    titles.append(name['title'])
    
titles[0:10]

['1917 in literature',
 'His Family',
 '1918 in literature',
 'The Magnificent Ambersons',
 '1919 in literature',
 '1920 in literature',
 'The Age of Innocence',
 '1921 in literature',
 'Alice Adams (novel)',
 '1922 in literature']

In [8]:
len(titles)

115

In [9]:
# Adding NaN to empty winner books

# Loop through the titles list
i = 0
while i < len(titles)-1:
    # Check if two consecutive titles both contain the phrase 'in literature'
    if 'in literature' in titles[i] and 'in literature' in titles[i+1]:
        # If they do, insert a 'NaN' in between them
        titles.insert(i+1, 'NaN')
        i += 2
    else:
        # If not, move on to the next title
        i += 1

display(titles[0:15], len(titles))

['1917 in literature',
 'His Family',
 '1918 in literature',
 'The Magnificent Ambersons',
 '1919 in literature',
 'NaN',
 '1920 in literature',
 'The Age of Innocence',
 '1921 in literature',
 'Alice Adams (novel)',
 '1922 in literature',
 'One of Ours',
 '1923 in literature',
 'The Able McLaughlins',
 '1924 in literature']

124

In [10]:
# Checking that there's at least one different row in between 'in literature' rows
has_different_row = False
for i in range(len(titles)-2):
    if 'in literature' in titles[i] and 'in literature' in titles[i+2]:
        has_different_row = True
        break

print(has_different_row)

True

In [11]:
# Generating first dataframe

years = []
books = []

# Loop through the titles list and separate the years and book titles
for i in range(len(titles)):
    # Every other element contains a year
    if i % 2 == 0:
        years.append(titles[i])
    # Every other element contains a book title
    else:
        books.append(titles[i])

# Combine the two lists into a DataFrame
pulitzer_fiction = pd.DataFrame({
    'year': years,
    'book': books
})

# Print the resulting DataFrame
pulitzer_fiction

                  year                                 book
0   1917 in literature                           His Family
1   1918 in literature            The Magnificent Ambersons
2   1919 in literature                                  NaN
3   1920 in literature                 The Age of Innocence
4   1921 in literature                  Alice Adams (novel)
..                 ...                                  ...
57  1974 in literature                    The Killer Angels
58  1975 in literature                      Humboldt's Gift
59  1976 in literature                                  NaN
60  1977 in literature  Elbow Room (short story collection)
61  1978 in literature          The Stories of John Cheever

[62 rows x 2 columns]

In [12]:
# Clean up values
pulitzer_fiction['year'] = pulitzer_fiction['year'].str.replace(' in literature', '')
pulitzer_fiction['book'] = pulitzer_fiction['book'].str.replace('\(.*\)', '', regex=True).str.strip()

#pulitzer_fiction

In [13]:
# Correcting awards year

# Convert 'year' to numeric and add 1
pulitzer_fiction['year'] = pd.to_numeric(pulitzer_fiction['year'])
pulitzer_fiction['year'] += 1

# display dataframe
pulitzer_fiction

    year                         book
0   1918                   His Family
1   1919    The Magnificent Ambersons
2   1920                          NaN
3   1921         The Age of Innocence
4   1922                  Alice Adams
..   ...                          ...
57  1975            The Killer Angels
58  1976              Humboldt's Gift
59  1977                          NaN
60  1978                   Elbow Room
61  1979  The Stories of John Cheever

[62 rows x 2 columns]

In [14]:
# Saving dataframe
pulitzer_fiction.to_csv('pulitzer_fiction.csv')

#### Author, Publisher and Genre

In [15]:
display(winners.select('tr td a')[0]['title'],
        winners.select('tr td a')[1]['title'],
        winners.select('tr td a')[2]['title'],
        winners.select('tr td a')[3]['title'],
        winners.select('tr td a')[4]['title'],
        winners.select('tr td a')[5]['title'])

'1917 in literature'

'Ernest Poole'

'His Family'

'Macmillan Publishers'

'Novel'

'Illinois'

In [16]:
data = []

for winner in winners.select('tr td'):
    for a_tag in winner.select('a'):
        if 'title' in a_tag.attrs:
            data.append(a_tag['title'])

In [17]:
type(data)

list

In [18]:
# All data
#data

In [19]:
# Extracting author
author = []
for i in range(len(data)):
    if 'in literature' in data[i]:
        if i+1 < len(data) and 'in literature' not in data[i+1]:
            author.append(data[i+1])
        else:
            author.append('NaN')

In [20]:
author

['Ernest Poole',
 'Booth Tarkington',
 'NaN',
 'Edith Wharton',
 'Booth Tarkington',
 'Willa Cather',
 'Margaret Wilson (novelist)',
 'Edna Ferber',
 'Sinclair Lewis',
 'Louis Bromfield',
 'Thornton Wilder',
 'Julia Peterkin',
 'Oliver La Farge',
 'Margaret Ayer Barnes',
 'Pearl S. Buck',
 'T. S. Stribling',
 'Caroline Pafford Miller',
 'Josephine Johnson',
 'H. L. Davis',
 'Margaret Mitchell',
 'John P. Marquand',
 'Marjorie Kinnan Rawlings',
 'John Steinbeck',
 'NaN',
 'Ellen Glasgow',
 'Upton Sinclair',
 'Martin Flavin',
 'John Hersey',
 'NaN',
 'Robert Penn Warren',
 'James A. Michener',
 'James Gould Cozzens',
 'A. B. Guthrie Jr.',
 'Conrad Richter',
 'Herman Wouk',
 'Ernest Hemingway',
 'NaN',
 'William Faulkner',
 'MacKinlay Kantor',
 'NaN',
 'James Agee',
 'Robert Lewis Taylor',
 'Allen Drury',
 'Harper Lee',
 "Edwin O'Connor",
 'William Faulkner',
 'NaN',
 'Shirley Ann Grau',
 'Katherine Anne Porter',
 'Bernard Malamud',
 'William Styron',
 'N. Scott Momaday',
 'Jean Stafford',
 'NaN',
 'Wallace Stegner',
 'Eudora Welty',
 'NaN',
 'Michael Shaara',
 'Saul Bellow',
 'NaN',
 'James Alan McPherson',
 'John Cheever']

In [21]:
# Add 'author' column to the dataframe and append values from 'author' list
pulitzer_fiction['author'] = author
pulitzer_fiction.head(10)

   year                       book                      author
0  1918                 His Family                Ernest Poole
1  1919  The Magnificent Ambersons            Booth Tarkington
2  1920                        NaN                         NaN
3  1921       The Age of Innocence               Edith Wharton
4  1922                Alice Adams            Booth Tarkington
5  1923                One of Ours                Willa Cather
6  1924       The Able McLaughlins  Margaret Wilson (novelist)
7  1925                     So Big                 Edna Ferber
8  1926                 Arrowsmith              Sinclair Lewis
9  1927               Early Autumn             Louis Bromfield

In [22]:
# Adding 'genre' column. All values are 'Novel' except rows with NaN
pulitzer_fiction.loc[pulitzer_fiction['author'] != 'NaN', 'genre'] = 'Novel'
pulitzer_fiction.loc[pulitzer_fiction['author'] == 'NaN', 'genre'] = 'NaN'

In [23]:
pulitzer_fiction

    year                         book                author  genre
0   1918                   His Family          Ernest Poole  Novel
1   1919    The Magnificent Ambersons      Booth Tarkington  Novel
2   1920                          NaN                   NaN    NaN
3   1921         The Age of Innocence         Edith Wharton  Novel
4   1922                  Alice Adams      Booth Tarkington  Novel
..   ...                          ...                   ...    ...
57  1975            The Killer Angels        Michael Shaara  Novel
58  1976              Humboldt's Gift           Saul Bellow  Novel
59  1977                          NaN                   NaN    NaN
60  1978                   Elbow Room  James Alan McPherson  Novel
61  1979  The Stories of John Cheever          John Cheever  Novel

[62 rows x 4 columns]

## Table 1980s to 2022

In [24]:
#previous: soup.select('#mw-content-text > div.mw-parser-output > table:nth-child(24)')

In [25]:
# previous winners = soup.select("table")[1]
# winners
# winners.select('tr td b a')[1]['title']

In [26]:
soup.select('mw-content-text > div.mw-parser-output > table:nth-child(27) > tbody')

[]

In [27]:
winners2 = soup.select("table")[2]
#winners2

In [28]:
winners2.select('tr td b a')[0]['title']

'1979 in literature'

In [29]:
winners2.select('tr td b a')[1]['title']

"The Executioner's Song"

In [30]:
# Extracting year and book
titles2 = []
for name in winners2.select('tr td b a'):
    book = name.get('title')
    titles2.append(name['title'])
    
display(titles2[0:10], len(titles2))

['1979 in literature',
 "The Executioner's Song",
 '1980 in literature',
 'A Confederacy of Dunces',
 '1981 in literature',
 'Rabbit Is Rich',
 '1982 in literature',
 'The Color Purple',
 '1983 in literature',
 'Ironweed (novel)']

85

In [31]:
# Adding NaN to empty winner books

# Loop through the titles list
i = 0
while i < len(titles2)-1:
    # Check if two consecutive titles both contain the phrase 'in literature'
    if 'in literature' in titles2[i] and 'in literature' in titles2[i+1]:
        # If they do, insert a 'NaN' in between them
        titles2.insert(i+1, 'NaN')
        i += 2
    else:
        # If not, move on to the next title
        i += 1

display(titles2[0:15], len(titles2))

['1979 in literature',
 "The Executioner's Song",
 '1980 in literature',
 'A Confederacy of Dunces',
 '1981 in literature',
 'Rabbit Is Rich',
 '1982 in literature',
 'The Color Purple',
 '1983 in literature',
 'Ironweed (novel)',
 '1984 in literature',
 'Foreign Affairs (novel)',
 '1985 in literature',
 'Lonesome Dove',
 '1986 in literature']

86

In [32]:
# Checking that there's at least one different row in between 'in literature' rows
has_different_row = False
for i in range(len(titles2)-2):
    if 'in literature' in titles2[i] and 'in literature' in titles2[i+2]:
        has_different_row = True
        break

print(has_different_row)

True

In [33]:
# Generating first dataframe

years = []
books = []

# Loop through the titles list and separate the years and book titles
for i in range(len(titles2)):
    # Every other element contains a year
    if i % 2 == 0:
        years.append(titles2[i])
    # Every other element contains a book title
    else:
        books.append(titles2[i])

# Combine the two lists into a DataFrame
pulitzer_fiction2 = pd.DataFrame({
    'year': years,
    'book': books
})

# Print the resulting DataFrame
pulitzer_fiction2.head()

                 year                     book
0  1979 in literature   The Executioner's Song
1  1980 in literature  A Confederacy of Dunces
2  1981 in literature           Rabbit Is Rich
3  1982 in literature         The Color Purple
4  1983 in literature         Ironweed (novel)

In [34]:
# Clean up values
pulitzer_fiction2['year'] = pulitzer_fiction2['year'].str.replace(' in literature', '')
pulitzer_fiction2['book'] = pulitzer_fiction2['book'].str.replace('\(.*\)', '', regex=True).str.strip()

#pulitzer_fiction2

In [35]:
# Correcting awards year

# Convert 'year' to numeric and add 1
pulitzer_fiction2['year'] = pd.to_numeric(pulitzer_fiction2['year'])
pulitzer_fiction2['year'] += 1

# display dataframe
pulitzer_fiction2.head()

   year                     book
0  1980   The Executioner's Song
1  1981  A Confederacy of Dunces
2  1982           Rabbit Is Rich
3  1983         The Color Purple
4  1984                 Ironweed

In [36]:
# Saving dataframe
pulitzer_fiction2.to_csv('pulitzer_fiction2.csv')

In [37]:
data2 = []

for winner in winners2.select('tr td'):
    for a_tag in winner.select('a'):
        if 'title' in a_tag.attrs:
            data2.append(a_tag['title'])

In [38]:
data2[0:20]

['1979 in literature',
 'Norman Mailer',
 "The Executioner's Song",
 'Little, Brown and Company',
 'True crime',
 'New Jersey',
 'William Wharton (author)',
 'Birdy (novel)',
 'Philip Roth',
 'The Ghost Writer',
 '1980 in literature',
 'John Kennedy Toole',
 'A Confederacy of Dunces',
 'Louisiana State University Press',
 'Picaresque novel',
 'Louisiana',
 'Frederick Buechner',
 'Godric (novel)',
 'William Keepers Maxwell Jr.',
 'So Long, See You Tomorrow (novel)']

In [39]:
# Extracting author
author2 = []
for i in range(len(data2)):
    if 'in literature' in data2[i]:
        if i+1 < len(data2) and 'in literature' not in data2[i+1]:
            author2.append(data2[i+1])
        else:
            author2.append('NaN')

In [40]:
author2[0:10]

['Norman Mailer',
 'John Kennedy Toole',
 'John Updike',
 'Alice Walker',
 'William Kennedy (author)',
 'Alison Lurie',
 'Larry McMurtry',
 'Peter Taylor (writer)',
 'Toni Morrison',
 'Anne Tyler']

In [41]:
# Add 'author' column to the dataframe and append values from 'author' list
pulitzer_fiction2['author'] = author2
pulitzer_fiction2.tail(12)

,year,book,author
31,2011,A Visit from the Goon Squad,Jennifer Egan
32,2012,NaN,Karen Russell
33,2013,The Orphan Master's Son,Adam Johnson (writer)
34,2014,The Goldfinch,Donna Tartt
35,2015,All the Light We Cannot See,Anthony Doerr
36,2016,The Sympathizer,Viet Thanh Nguyen
37,2017,The Underground Railroad,Colson Whitehead
38,2018,Less,Andrew Sean Greer
39,2019,The Overstory,Richard Powers
40,2020,The Nickel Boys,Colson Whitehead
41,2021,The Night Watchman,Louise Erdrich
42,2022,The Netanyahus: An Account of a Minor and Ulti...,Joshua Cohen (writer)

In [42]:
# Correcting 2012 ('Author' value it's finalist, but there was no award)
pulitzer_fiction2.at[32, 'author'] = 'NaN'

In [43]:
pulitzer_fiction2.tail(12)

,year,book,author
31,2011,A Visit from the Goon Squad,Jennifer Egan
32,2012,NaN,NaN
33,2013,The Orphan Master's Son,Adam Johnson (writer)
34,2014,The Goldfinch,Donna Tartt
35,2015,All the Light We Cannot See,Anthony Doerr
36,2016,The Sympathizer,Viet Thanh Nguyen
37,2017,The Underground Railroad,Colson Whitehead
38,2018,Less,Andrew Sean Greer
39,2019,The Overstory,Richard Powers
40,2020,The Nickel Boys,Colson Whitehead
41,2021,The Night Watchman,Louise Erdrich
42,2022,The Netanyahus: An Account of a Minor and Ulti...,Joshua Cohen (writer)

In [44]:
# Extract genre
#genre = []
#for i in range(len(data2)):
#    if 'in literature' in data2[i]:
#        if i+4 < len(data2):
#            genre.append(data2[i+4])
#        else:
#            genre.append('NaN')

In [45]:
# Adding 'genre' column. All values are 'Novel' except rows with NaN
pulitzer_fiction2.loc[pulitzer_fiction2['author'] != 'NaN', 'genre'] = 'Novel'
pulitzer_fiction2.loc[pulitzer_fiction2['author'] == 'NaN', 'genre'] = 'NaN'

In [46]:
pulitzer_fiction2

,year,book,author,genre
0,1980,The Executioner's Song,Norman Mailer,Novel
1,1981,A Confederacy of Dunces,John Kennedy Toole,Novel
2,1982,Rabbit Is Rich,John Updike,Novel
3,1983,The Color Purple,Alice Walker,Novel
4,1984,Ironweed,William Kennedy (author),Novel
5,1985,Foreign Affairs,Alison Lurie,Novel
6,1986,Lonesome Dove,Larry McMurtry,Novel
7,1987,A Summons to Memphis,Peter Taylor (writer),Novel
8,1988,Beloved,Toni Morrison,Novel
9,1989,Breathing Lessons,Anne Tyler,Novel
10,1990,The Mambo Kings Play Songs of Love,Oscar Hijuelos,Novel
11,1991,Rabbit At Rest,John Updike,Novel
12,1992,A Thousand Acres,Jane Smiley,Novel
13,1993,A Good Scent from a Strange Mountain,Robert Olen Butler,Novel
14,1994,The Shipping News,Annie Proulx,Novel
15,1995,The Stone Diaries,Carol Shields,Novel
16,1996,Independence Day,Richard Ford,Novel
17,1997,Martin Dressler,Steven Millhauser,Novel
18,1998,American Pastoral,Philip Roth,Novel
19,1999,The Hours,Michael Cunningham,Novel
20,2000,Interpreter of Maladies,Jhumpa Lahiri,Novel
21,2001,The Amazing Adventures of Kavalier & Clay,Michael Chabon,Novel
22,2002,Empire Falls,Richard Russo,Novel
23,2003,Middlesex,Jeffrey Eugenides,Novel
24,2004,The Known World,Edward P. Jones,Novel
25,2005,Gilead,Marilynne Robinson,Novel
26,2006,March,Geraldine Brooks (writer),Novel
27,2007,The Road,Cormac McCarthy,Novel
28,2008,The Brief Wondrous Life of Oscar Wao,Junot DÃ­az,Novel
29,2009,Olive Kitteridge,Elizabeth Strout,Novel
30,2010,Tinkers,Paul Harding (author),Novel
31,2011,A Visit from the Goon Squad,Jennifer Egan,Novel
32,2012,NaN,NaN,NaN
33,2013,The Orphan Master's Son,Adam Johnson (writer),Novel
34,2014,The Goldfinch,Donna Tartt,Novel
35,2015,All the Light We Cannot See,Anthony Doerr,Novel
36,2016,The Sympathizer,Viet Thanh Nguyen,Novel
37,2017,The Underground Railroad,Colson Whitehead,Novel
38,2018,Less,Andrew Sean Greer,Novel
39,2019,The Overstory,Richard Powers,Novel
40,2020,The Nickel Boys,Colson Whitehead,Novel
41,2021,The Night Watchman,Louise Erdrich,Novel
42,2022,The Netanyahus: An Account of a Minor and Ulti...,Joshua Cohen (writer),Novel

## Concatenate both dataframes

In [47]:
all_pulitzer_fiction_winners = pd.concat([pulitzer_fiction, pulitzer_fiction2], axis=0, ignore_index=True)

In [48]:
# Drop 'genre'
all_pulitzer_fiction_winners = all_pulitzer_fiction_winners.drop(['genre'],axis = 1)

In [49]:
all_pulitzer_fiction_winners

,year,book,author
0,1918,His Family,Ernest Poole
1,1919,The Magnificent Ambersons,Booth Tarkington
2,1920,NaN,NaN
3,1921,The Age of Innocence,Edith Wharton
4,1922,Alice Adams,Booth Tarkington
...,...,...,...
100,2018,Less,Andrew Sean Greer
101,2019,The Overstory,Richard Powers
102,2020,The Nickel Boys,Colson Whitehead
103,2021,The Night Watchman,Louise Erdrich
104,2022,The Netanyahus: An Account of a Minor and Ulti...,Joshua Cohen (writer)

In [50]:
# Delete '(any text)' from author's name in 'authors' column
import re

all_pulitzer_fiction_winners['author'] = all_pulitzer_fiction_winners['author'].apply(lambda x: re.sub(r'\([^()]*\)', '', x).strip())

In [55]:
# NaN was string..
import numpy as np
all_pulitzer_fiction_winners = all_pulitzer_fiction_winners.replace("NaN", np.nan)

In [56]:
all_pulitzer_fiction_winners.isna()

      year   book  author
0    False  False   False
1    False  False   False
2    False   True    True
3    False  False   False
4    False  False   False
..     ...    ...     ...
100  False  False   False
101  False  False   False
102  False  False   False
103  False  False   False
104  False  False   False

[105 rows x 3 columns]

In [57]:
# Replace NaN values for 'None awarded'
all_pulitzer_fiction_winners['book'] = all_pulitzer_fiction_winners['book'].fillna('None awarded')
all_pulitzer_fiction_winners['author'] = all_pulitzer_fiction_winners['author'].fillna('None awarded')

In [58]:
all_pulitzer_fiction_winners

,year,book,author
0,1918,His Family,Ernest Poole
1,1919,The Magnificent Ambersons,Booth Tarkington
2,1920,None awarded,None awarded
3,1921,The Age of Innocence,Edith Wharton
4,1922,Alice Adams,Booth Tarkington
...,...,...,...
100,2018,Less,Andrew Sean Greer
101,2019,The Overstory,Richard Powers
102,2020,The Nickel Boys,Colson Whitehead
103,2021,The Night Watchman,Louise Erdrich
104,2022,The Netanyahus: An Account of a Minor and Ulti...,Joshua Cohen

In [59]:
## Save to csv

all_pulitzer_fiction_winners.to_csv('pulitzer_fiction_winners_WEB_SCRAPING.csv')

In [65]:
pd.set_option('display.max_rows', None)
all_pulitzer_fiction_winners.tail(60)

,year,book,author
45,1963,The Reivers,William Faulkner
46,1964,None awarded,None awarded
47,1965,The Keepers of the House,Shirley Ann Grau
48,1966,The Collected Stories of Katherine Anne Porter,Katherine Anne Porter
49,1967,The Fixer,Bernard Malamud
50,1968,The Confessions of Nat Turner,William Styron
51,1969,House Made of Dawn,N. Scott Momaday
52,1970,The Collected Stories of Jean Stafford,Jean Stafford
53,1971,None awarded,None awarded
54,1972,Angle of Repose,Wallace Stegner
55,1973,The Optimist's Daughter,Eudora Welty
56,1974,None awarded,None awarded
57,1975,The Killer Angels,Michael Shaara
58,1976,Humboldt's Gift,Saul Bellow
59,1977,None awarded,None awarded
60,1978,Elbow Room,James Alan McPherson
61,1979,The Stories of John Cheever,John Cheever
62,1980,The Executioner's Song,Norman Mailer
63,1981,A Confederacy of Dunces,John Kennedy Toole
64,1982,Rabbit Is Rich,John Updike
65,1983,The Color Purple,Alice Walker
66,1984,Ironweed,William Kennedy
67,1985,Foreign Affairs,Alison Lurie
68,1986,Lonesome Dove,Larry McMurtry
69,1987,A Summons to Memphis,Peter Taylor
70,1988,Beloved,Toni Morrison
71,1989,Breathing Lessons,Anne Tyler
72,1990,The Mambo Kings Play Songs of Love,Oscar Hijuelos
73,1991,Rabbit At Rest,John Updike
74,1992,A Thousand Acres,Jane Smiley
75,1993,A Good Scent from a Strange Mountain,Robert Olen Butler
76,1994,The Shipping News,Annie Proulx
77,1995,The Stone Diaries,Carol Shields
78,1996,Independence Day,Richard Ford
79,1997,Martin Dressler,Steven Millhauser
80,1998,American Pastoral,Philip Roth
81,1999,The Hours,Michael Cunningham
82,2000,Interpreter of Maladies,Jhumpa Lahiri
83,2001,The Amazing Adventures of Kavalier & Clay,Michael Chabon
84,2002,Empire Falls,Richard Russo
85,2003,Middlesex,Jeffrey Eugenides
86,2004,The Known World,Edward P. Jones
87,2005,Gilead,Marilynne Robinson
88,2006,March,Geraldine Brooks
89,2007,The Road,Cormac McCarthy
90,2008,The Brief Wondrous Life of Oscar Wao,Junot DÃ­az
91,2009,Olive Kitteridge,Elizabeth Strout
92,2010,Tinkers,Paul Harding
93,2011,A Visit from the Goon Squad,Jennifer Egan
94,2012,None awarded,None awarded
95,2013,The Orphan Master's Son,Adam Johnson
96,2014,The Goldfinch,Donna Tartt
97,2015,All the Light We Cannot See,Anthony Doerr
98,2016,The Sympathizer,Viet Thanh Nguyen
99,2017,The Underground Railroad,Colson Whitehead
100,2018,Less,Andrew Sean Greer
101,2019,The Overstory,Richard Powers
102,2020,The Nickel Boys,Colson Whitehead
103,2021,The Night Watchman,Louise Erdrich
104,2022,The Netanyahus: An Account of a Minor and Ulti...,Joshua Cohen